venv
.idea

__pycache__/
*.pyc
.DS_Store
.env
.env.*
node_modules/
dist/
build/
*.log
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.out
*.class
*.jar
*.war
*.iml

coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/